Q.1. Create two int type variables, apply addition, subtraction, division and multiplications
and store the results in variables. Then print the data in the following format by calling the
variables:
First variable is __ & second variable is __.
Addition: __ + __ = __
Subtraction: __ - __ = __
Multiplication: __ * __ = __
Division: __ / __ = __

In [ ]:
var1= int(input("Enter var1: "))
var2 =int(input("Enter var2: "))
print(f"First variable is {var1} & second variable is {var2}.")
print(f'''Addition: {var1} + {var2} = {var1+var2}
Subtraction: {var1} - {var2} = {var1-var2}
Multiplication: {var1} * {var2} = {var1*var2}
Division: {var1} / {var2} = {var1/var2}''')

Enter var1: 8
Enter var2: 9
First variable is 8 & second variable is 9.
Addition: 8 + 9 = 17
Subtraction: 8 - 9 = -1
Multiplication: 8 * 9 = 72
Division: 8 / 9 = 0.8888888888888888



Q.2. What is the difference between the following operators:
(i) ‘/’ & ‘//’:  '/' is an arithmatic operator used for division, and '//' is also an arithmatic operator but it is known as floor division operator which is used to round of the division result down to the nearest whole number.
(ii) ‘**’ & ‘^’: '**' is also an arithmatic operator which is used for exponent(power), and '^' is bitwise operator known as XOR compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0

In [ ]:
print(4/5)
print(4//5)
print(4**2)
print(4^2)

0.8
0
16
6

Q.3. List the logical operators.

AND: This operator states true if both the operands are true, if one will be false it will state as Flase. For e.g., True and True will True, but Flase and True will be False.

OR: This operator states true if one of the operand is true, it'll state false only when both operands are false. For e.g., True and False will True.

NOT: This operator takes only one operand as it is urinary operator, it negates the answer. For e.g., True will be False and False will be True.

In [ ]:
print(4==4 and 5==3)
print(4==4 or 5==3)
print(not 4==4)

False
True
False


Q.4. Explain right shift operator and left shift operator with examples.

Right Shift: The left operand’s value is moved toward right by the number of bits specified by the right operand.

Bitwise left shift: The left operand’s value is moved toward left by the number of bits specified by the right operand.

In [ ]:
a = 10
b = -10

#right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)

a = 5
b = -10

#left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20


Q.5. Create a list containing int type data of length 15. Then write a code to check if 10 is
present in the list or not.

In [5]:
list=[1,2,3,4,10,5,6,7,8,9,11,12,13,14,15]
print(list.index(10)) #this will print the position of the value
list2=[1,2,3,4,21,5,6,7,8,9,11,12,13,14,15]
print(list2.index(10)) #as this list doesn't contain 10 it'll give an error

4

ValueError: ignored